@import url('https://fonts.googleapis.com/css2?family=Lexend');

html{
  background-color: #323232;
}
body {
  padding: 0;
  margin: 0;
  font-family: Lexend;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

svg {
  float: right;

  fill: #cccccc;
  cursor: hover;
}

svg:hover {
  fill: #aaaaaa;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.postimg {
  position: relative;
  border-radius: 30%;
  aspect-ratio: 16 / 9;
  clear: both;
}

.card:nth-of-type(1) .postimg {
  display: block;
  width: 50%;
  float: left;
  margin-right: 2rem;
  padding-bottom: 0px;
}

img {
  border-radius: 5px;
}

.card {
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.card:first-of-type .postdate{
  /* font-size: 1.4rem */;
  font-size: 1.4vw;
  padding-top: 20px;
  color: #C5C5C5;
}
.postdate {
  font-size: 1.25rem;
  color: #C5C5C5;
}

.card:not(:first-of-type) {
  padding-bottom: 10px;
}

.posttitle:hover {
  text-decoration: underline;
}


.card:nth-of-type(1) .posttitle {
  /* font-size: 5rem; */
  font-size: 5vw;
  font-weight: 100;
  color: #FFFFFF;
}

.posttitle {
  font-size: 2rem; 
  font-weight: 100;
  color: #FFFFFF;
  margin-top: 10px;
}

.card:nth-of-type(1) .postdesc {
  /* font-size: 1.7vw; */
  font-size: 1.7vw;
  margin-top: -50px;
}

.postdesc {
  font-size: 1.25rem;
  margin-top: -25px;
}

.card:nth-of-type(2) {
  clear: both;
}

.posts {
  display: grid;
  grid-column-start: 1;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(22vw, 1fr));
}

.card:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: -1;
}

.cardtext {
  padding: 20px;
}

.topcard {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(10,1fr);
  grid-template-areas: ". image image image image text text text text .";
  
}

.topcard > * {
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.coverimg {
  aspect-ratio: 16 / 9;
  position: relative;
  width: 100%;
  grid-area: image;
}

.inposttext {
  grid-area: text;
  padding: 30px;
}

.inpostdate {
  font-size: 1.2vw;
  color: #C5C5C5;
}

.inposttitle {
  font-size: 3vw;
  font-weight: 100;
}

.inpostdesc {
  font-size: 1.5vw;
  margin-top: 20px;
}

.htmltext {
  font-size: 1.5em;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.htmltext h1 {
  font-size: 2.5em;
}

iframe {
  position: relative;
  width: 50%;
  aspect-ratio: 16 / 9;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code {
  background-color: #1e1e1e;
  border-radius: 8px;
  display: block;
  padding: 20px;
  overflow-x: scroll;
}

/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */

 .hljs {
  background: #1E1E1E;
  color: #DCDCDC;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: #569CD6;
}
.hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: #4EC9B0;
}

.hljs-number,
.hljs-class {
  color: #B8D7A3;
}

.hljs-string,
.hljs-meta .hljs-string {
  color: #D69D85;
}

.hljs-regexp,
.hljs-template-tag {
  color: #9A5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
  color: #57A64A;
  font-style: italic;
}

.hljs-doctag {
  color: #608B4E;
}

.hljs-meta,
.hljs-meta .hljs-keyword,

.hljs-tag {
  color: #9B9B9B;
}

.hljs-variable,
.hljs-template-variable {
  color: #BD63C5;
}

.hljs-attr,
.hljs-attribute {
  color: #9CDCFE;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #D7BA7D;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}

